@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/breakpoints' as *;

.products {
  &__button-wrapper {
    margin: 40px 0;
    text-align: center;
  }

  &__button {
    display: inline-block;
    max-width: 100%;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: $color-primary;
    border: 1px solid $color-primary;
    transition: $transition;

    &:hover {
      color: $color-white;
      background: $color-primary;
    }
  }
}
