@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/breakpoints' as *;

.products {
  &__button-wrapper {
    text-align: center;
    margin: 50px;
  }

  &__button {
    color: $color-primary;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 70px;
    border: 1px solid $color-primary;
    text-decoration: none;
    transition: $transition;
    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}
