// ==============================
// Colors
// ==============================

$color-primary: #b88e2f;

$color-black: #333333;
$color-white: #fff;

$color-title: #3a3a3a;
$color-text: #666;
$color-muted: #898989;

$color-bg-light: #fff3e3;
$color-bg-card: #f4f5f7;
$color-border: #d8d8d8;

// ==============================
// fonts
// ==============================

$font-primary: 'Poppins', sans-serif;

// ==============================
// Container
// ==============================

$container-width: 1240px;
$container-padding: 20px;

// ==============================
// Radius
// ==============================

$radius-sm: 4px;
$radius-md: 8px;

// ==============================
// Transition
// ==============================

$transition: 250ms all;
