<section class="benefits">
    <div class="container">
        <ul class="benefits__list">
            <li class="benefits__item">
                <div class="benefits__icon">
                    <img src="/src/img/benefits/trophy.png" alt=" trophy" class="benefits__icon-img">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__title">High Quality</h3>
                    <p class="benefits__text">crafted from top materials</p>
                </div>
            </li>

            <li class="benefits__item">
                <div class="benefits__icon">
                    <img src="/src/img/benefits/done.png" alt=" done" class="benefits__icon-img">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__title">Warranty Protection</h3>
                    <p class="benefits__text">Over 2 years</p>
                </div>
            </li>

            <li class="benefits__item">
                <div class="benefits__icon">
                    <img src="/src/img/benefits/box.png" alt="box" class="benefits__icon-img">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__title">Free Shipping</h3>
                    <p class="benefits__text">Order over 150 $</p>
                </div>
            </li>

            <li class="benefits__item">
                <div class="benefits__icon">
                    <img src="/src/img/benefits/support.png" alt="support" class="benefits__icon-img">
                </div>

                <div class="benefits__content">
                    <h3 class="benefits__title">24 / 7 Support</h3>
                    <p class="benefits__text">Dedicated support</p>
                </div>
            </li>
        </ul>
    </div>
</section>