<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="./index.html">
      <img src="/src/img/icon/logo.png" alt="Furniro home" />
    </a>
    <nav class="header__nav" id="main-navigation" aria-label="Main navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="index.html">Home</a></li>
        <li class="header__nav-item"><a href="shop.html">Shop</a></li>
        <li class="header__nav-item"><a href="about.html">About</a></li>
        <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>
    <ul class="header__actions">
      <li class="header__actions-item">
        <button
          type="button"
          data-open-search
          aria-haspopup="dialog"
          aria-controls="search-dialog"
          aria-label="Search products"
        >
          <img src="/src/img/icon/search.svg" alt="" />
        </button>
      </li>

      <li class="header__actions-item">
        <button
          class="header__wishlist-button"
          type="button"
          data-open-wishlist
          aria-haspopup="dialog"
          aria-controls="wishlist-dialog"
          aria-label="Favorites"
        >
          <img src="/src/img/icon/heart.svg" alt="" />
          <span class="header__wishlist-count" hidden>0</span>
        </button>
      </li>

      <li class="header__actions-item">
        <button
          class="header__cart-button"
          type="button"
          data-open-cart
          aria-haspopup="dialog"
          aria-controls="cart-dialog"
          aria-label="Shopping cart"
        >
          <img src="/src/img/icon/cart.svg" alt="" />
          <span class="header__cart-count" hidden>0</span>
        </button>
      </li>
    </ul>
    <button
      class="header__burger"
      aria-controls="main-navigation"
      type="button"
      aria-label="Open menu"
      aria-expanded="false"
    >
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>
  </div>
</header>
