<header class="header ">
    <div class="container header__container">
        <a class="header__logo" href="#">
            <img src="../img/icon/logo.png" alt="logo">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="index.html">Home</a></li>
                <li class="header__nav-item"><a href="shop.html">Shop</a></li>
                <li class="header__nav-item"><a href="#">About</a></li>
                <li class="header__nav-item"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <ul class="header__actions">
            <li class="header__actions-item">
                <a href="/account.html" aria-label="Account">
                    <img src="/src/img/icon/acount.svg" alt="">
                </a>
            </li>

            <li class="header__actions-item">
                <button type="button" aria-label="Search">
                    <img src="/src/img/icon/search.svg" alt="">
                </button>
            </li>

            <li class="header__actions-item">
                <a href="/wishlist.html" aria-label="Wishlist">
                    <img src="/src/img/icon/heart.svg" alt="">
                </a>
            </li>

            <li class="header__actions-item">
                <a href="/cart.html" aria-label="Cart">
                    <img src="/src/img/icon/cart.svg" alt="">
                </a>
            </li>
        </ul>
        <button class="header__burger" type="button" aria-label="Open menu" aria-expanded="false">
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
        </button>
    </div>
</header>